*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.o

/vendor/
go.sum

/bin/
/build/
/dist/

pkg/

*.test
*.prof
*.coverprofile
*.pb.go
testdata/

.vscode/
.idea/
*.iml

.DS_Store

Thumbs.db

# Environment variables
.env
